:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-width: 54ch;
  --background-color: #000;
  --theme-color: #C6C4AF;
  --alt-theme-color: #ecd69b;
  --heading-font: 'Anton', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --spacing: 6px;
  --border: 1px solid var(--theme-color);
  --border-radius: 6px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  min-width:  var(--container-width);
  margin: 0 auto;
  padding: .2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: .2em;
}


legend {
  text-align: left;
  margin-bottom: 0;
}

fieldset {
  border-radius: var(--border-radius);
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .25rem .25rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
body .btn {
  margin: 1px
}

body .btn svg {
  max-height: 3rem;
  max-width: 3rem;
}

body .btn.btn-lg svg {
  max-height: 3rem;
  max-width: 3rem;
}

body .btn.btn-md svg {
  max-height: 2.2rem;
  max-width: 2.2rem
}

body .btn.btn-sm {
  padding: .45rem .35rem;
  font-size: .875rem;
  line-height: .5
}

body .btn.btn-sm svg {
  max-height: .2rem;
  max-width: .2rem
}

body .btn.btn-xs {
  padding: .2rem .2rem;
  font-size: .875rem;
  line-height: .5
}

body .btn.btn-xs svg {
  max-height: 1rem;
  max-width: 1rem;
}

body .btn {
  border: solid 1px rgba(0,0,0,0);
  font-size: 1rem;
  padding: .025rem .05rem;
  margin: .025rem .05rem;
  cursor: pointer;
  line-height: 1rem;
  color: #fff;
  background-color: #270dd5;
  border-color: #198754
}

body .btn:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43
}

body .btn.btn-xs {
  padding: .025rem .125rem;
  margin: .025rem .125rem
}

body .btn.btn-sm {
  padding: .5rem .5rem;
  margin: .5rem .5rem
}

body .btn.btn-secondary {
  background-color: #333;
  border-color: #333;
  color: #fff
}

body .btn.btn-secondary:hover {
  background-color: #555
}

body .btn.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545
}

body .btn.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37
}

body .btn.btn-warning {
  color: #fff;
  background-color: #daa405;
  border-color: #daa405
}

body .btn.btn-warning:hover {
  color: #fff;
  background-color: #deb128;
  border-color: #deb128
}

body .btn.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754
}

body .btn.btn-success:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43
}

body .btn.btn-info {
  color: #fff;
  background-color: #194c87;
  border-color: #194c87
}

body .btn.btn-info:hover {
  color: #fff;
  background-color: #1f5ba0;
  border-color: #1f5ba0
}

body .btn:disabled {
  cursor: auto;
  background-color: #333;
  border-color: #333;
  color: #666
}

body .btn:disabled:hover {
  background-color: #333;
  color: #666
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.small-card {
  height: 4rem;
  margin: 2px
}

.selected-card {
  border: solid 3px #007bff
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-item {
  width: 48%; /* To leave some gap between columns */
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}
.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative;
  overflow: hidden;
}