:root {
  font-family: Impact, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-width: 380px;
  --background-color: #000;
  --theme-color: #C6C4AF;
  --alt-theme-color: #ecd69b;
  --heading-font: 'Anton', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --spacing: 6px;
  --border: 1px solid var(--theme-color);
  --border-radius: 6px;
  --card-spread-inc: 2.8rem;
  --card-stacked-down-inc: .1rem;
  --card-height: 3.7rem;
  --button-size: 26px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  padding: 0px;
  place-items: center;
  min-width: 320px;
  min-height: 596px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 396px;
  min-width: var(--container-width);
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 0px;
}

legend {
  font-family: Verdana, "Lucida Grande", "Lucida Sans", "Trebuchet MS", Geneva, Tahoma, Impact, Anton, sans-serif;
  font-size: medium;
  font-weight: bolder;
  text-align: left;
  margin-bottom: 0;
}

.toggle-image.toggle-danger path {
  color: #dc3545;
  border-color: #dc3545
}

.toggle-image.toggle-danger:hover path {
  color: #bb2d3b;
  border-color: #b02a37
}

fieldset {
  margin: 2px;
  padding: 0px;
  border-width: medium;
  border-radius: var(--border-radius);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #dddaee;
    border-color: #f5c2c7;
    --background-color: #ffffff;
    --theme-color: #213547;
    --alt-theme-color: #ecd69b;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

  .small-card {
    height: var(--card-height);
    margin: 0px;
    padding: 0px;
    border: .5px solid #000000;
  }

  .small-card-div {
    height: calc(.4em + var(--card-height));
    margin: 0px;
    padding: 0px;
    border: .5px solid #000000;
  }

  .toggle-image {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    border: 0px;
    background-color: transparent;
    color: black;
  }

  .toggle-image path {
    transition: fill 0.3s ease;
    fill: #202020;
  }

  .toggle-image.active path {
    fill: #007BFF;
    /* Active color */
  }

  .toggle-image:hover path {
    fill: #0056b3;
    /* A darker shade for hover */
  }

  .chosen {
    border: 2px solid #BF40BF;
    z-index: 100;
  }

  fieldset {
    border-color: black;
  }

  fieldset.nextplayer {
    border-width: thick;
    border-color: #001aff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffffdd;
    background-color: #242424;
    border-color: #f5c2c7;
    --background-color: #000000;
    --theme-color: #c6c4af;
    --alt-theme-color: #ecd69b;
  }

  a:hover {
    color: #535bf2;
  }

  button {
    background-color: #1a1a1a;
  }

  .small-card {
    height: var(--card-height);
    margin: 0px;
    padding: 0px;
  }

  .small-card-div {
    height: calc(.4em + var(--card-height));
    margin: 0px;
    padding: 0px;
  }

  .toggle-image {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    border: 0px;
    background-color: transparent;
    color: white;
  }

  .toggle-image path {
    transition: fill 0.3s ease;
    fill: #dfdfdf;
  }

  .toggle-image.active path {
    fill: #007BFF;
  }

  .toggle-image:hover path {
    fill: #0056b3;
  }

  .chosen {
    border: 2px solid #BF40BF;
    z-index: 100;
  }

  fieldset {
    border-color: #f1f1f1;
  }

  fieldset.nextplayer {
    border-width: thick;
    border-color: cornflowerblue;
  }
}

.flex-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: left;
}

.flex-item-1 {
  width: 12rem;
  border: none;
  box-sizing: border-box;
}

.flex-item-2 {
  width: 90%;
  border: none;
  box-sizing: border-box;
}

.flex-item-3 {
  width: 4.5rem;
  border: none;
  box-sizing: border-box;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative;
  overflow: hidden;
}

.initiative-container {
    display: flex !important;
    flex-direction: column !important;
}

